footer {
    margin-top: 5vh;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    color: lemonchiffon;
    text-shadow: 0 0 0.5em black;
    text-align: center;
    background-color: rgba(#000000, 0.5);
}